<nav class="navbar">
	<a class="d-flex justify-content-center mb-3" href="{{ path('app_index') }}"><img class="rounded w-50" src="{{ asset('build/images/logo.png') }}" alt="Logo"></a>
	<div class="navbarLinks">
		<a class="navlink" aria-current="page" href="{{ path('app_index') }}" title="Page accueil">Accueil</a>
		<a class="navlink" href="{{ path('app_propos') }}" title="Page propos">A propos</a>
		<a class="navlink" href="{{ path('app_message_new') }}" title="Page contact">Contact</a>
	</div>
</nav>
