<div>
	<h3 class="mt-3">Mes réalisations :</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Image</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for realisation in realisations %}
				<tr>
					<td>{{ realisation.id }}</td>
					<td>{{ realisation.name }}</td>
					<td>{{ realisation.image }}</td>
					<td>{{ realisation.description }}</td>
					<td>
						<a class="btn btn-light" href="{{ path('app_realisation_show', {'id': realisation.id}) }}" title="voir la réalisation">Voir</a>
						<a class="btn btn-warning" href="{{ path('app_realisation_edit', {'id': realisation.id}) }}" title="modifier la réalisation">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-success" href="{{ path('app_realisation_new') }}" title="créer une nouvelle réalisation">Créer une nouvelle</a>
	<a class="bouton" href="{{ path('app_admin_index') }}" title="retour">retour à la liste</a>
</div>
